/* Estilos para carga-por-llegar.component.css, carga-en-recepcion.component.css y carga-por-enviar.component.css */

h2 {
  margin-bottom: 1rem;
}

/* Aquí puedes agregar más estilos específicos para cada componente */

.carga-en-recepcion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selected {
  background-color: #007bff;
  color: white;
}

.recepcion-container {
  display: flex;
  gap: 20px;
}

.recepcion-btn,
.clasificacion-btn,
.clasificacion-reparto-btn {
  background-color: #ff8400;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.recepcion-btn:hover,
.clasificacion-btn:hover,
.clasificacion-reparto-btn:hover {
  background-color: #ff8400;
}
